:root {
    --White: hsl(0, 0%, 100%);
    --Teal100: hsl(204, 43%, 93%);
    --Teal500: hsl(179, 62%, 43%);
    --Teal600: hsl(179, 72%, 53%);
    --Green400: hsl(71, 73%, 54%);
    --Gray500: hsl(218, 22%, 67%);
}

body {
    background: var(--Teal100);
}

.card {
    width: 40%;
    margin: auto;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.header {
    background: var(--White);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.header h1 {
    color: var(--Teal500);
}

.header h2 {
    color: var(--Green400);
}

.header p {
    color: var(--Gray500);
}

.description {
    font-size: 16px;
}

.row {
    display: flex;
}

.left {
    width: 50%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    background: var(--Teal500);
}

.left h2 {
    color: var(--White);
}

.right {
    width: 50%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    background: var(--Teal600);
}

.price {
    color: var(--White);
    font-size: 42px;
    margin: 0;
    font-weight: bold;
}

.price span {
    color: var(--White);
    font-weight: normal;
    font-size: 20px;
    opacity: 0.5;
}

.access {
    color: var(--White);
    opacity: 0.8;
}

.btn {
    background: var(--Green400);
    color: var(--White);
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 4px 4px 12px 4px rgba(0,0,0,0.1);
}

.btn:hover {
    cursor: pointer;
}

.right h2 {
    color: var(--White);
}

.shopping-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--White);
    opacity: 0.7;
}